# 캐글 신용카드 사기 검출

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [15]:
# df.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
df.shape

(284807, 31)

In [7]:
# 데이터 전처리 및 훈련 / 트스트 데이터 셋 분리

In [16]:
from sklearn.model_selection import train_test_split
X = df.values[:,1:-1]           # X = df.iloc[:,1:-1].values
y = df['Class'].values
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.3, random_state=0
)

In [20]:
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

((199364, 29), (85443, 29), (199364,), (85443,))

In [17]:
lable, count = np.unique(y_train, return_counts=True)
lable, count

(array([0, 1], dtype=int64), array([199020,    344], dtype=int64))

In [22]:
# 학습 데이터 레이블 값 비율 # 잘 나눠짐. 클래스별 비율동일 # stratipy = y 체크
_, count = np.unique(y_train, return_counts=True)
print(f'학습 데이터 레이블 값 비율 : {count[1]/y_train.shape[0] * 100 :.4f} %')
_, count = np.unique(y_test, return_counts=True)
print(f'학습 데이터 레이블 값 비율 : {count[1]/y_test.shape[0] * 100 :.4f} %')

학습 데이터 레이블 값 비율 : 0.1725 %
학습 데이터 레이블 값 비율 : 0.1732 %

사이킷런의 매트릭스 트리에 오차행렬, 정확도점수, 정밀도, 재현율, f1 스코어 까지.

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score
from sklearn.metrics import recall_score, f1_score
def get_clf_eval(y, pred):
    print(confusion_matrix(y, pred))
    print(f'정확도: {accuracy_score(y, pred):.4f}, 정밀도: {precision_score(y, pred):.4f}, 재현율: {recall_score(y, pred):.4f}, F1: {f1_score(y, pred):.4f}')