DataFrame - 문자열 조작

# 행정표준 관리 시스템 # 법정동 준비 자료
 실습 데이터 준비(행정표준관리시스템: https://www.code.go.kr/index.do)

In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

(46314, 3)

In [6]:
df.shape
# df.copy = df

In [8]:
df = df[df.폐지여부 == '존재']
df.shape
# (46314, 3) 에서 필터링으로 (20551, 3) 로 쉐입 변화

(20551, 3)

In [10]:
# 인덱싱 
df.법정동명.str[:2].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: 법정동명, dtype: object

In [11]:
# 찾기
df.법정동명.str.find('동').head()

0    -1
1    -1
2    12
3    12
4    12
Name: 법정동명, dtype: int64

In [12]:
# 요 스트링 안에 '동'글자 있으면 인덱스값 리턴 / 없으면 -1 리턴 하는 메소드 
'서울특별시 종로구'.find('동')

-1

In [13]:
'서울특별시 종로구 청운동'.find('동') 
# 요 스트링 안에 '동'글자 있으면 인덱스값 리턴 / 없으면 -1 리턴 하는 메소드

12

In [14]:
# 스트링 안에 해당 글자 있는지 찾아봐라 find 
# 필요한 문자가 있다는 신호이므로 조건문으로 사용하기 좋아.
df.법정동명.str.split().head()

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [16]:
df.법정동명.str.contains('종로').head()
# 서울특별시 종로 없음 ..0 F.   나머지 종로구에 종로 있어 1 T 반환

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [17]:
# 문자대체  # 공백, 스페이스바를 언더바로
df.법정동명.str.replace(' ','_').head()

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [19]:
s = pd.Series(['가나다 123', 'ㅠㅠ!!!', '한글alphabet'])
s

0       가나다 123
1         ㅠㅠ!!!
2    한글alphabet
dtype: object

In [21]:
# 정규표현식 # 암호라던지 문자열의 패턴을 찾아내주는 (Regular expression)
import re
# re.sub('[0123456789]', '.', '가나다 123')    # 정규표현식, 대체할 문자열, 대상
re.sub('[0-9]', '.', '가나다 123')           # 정규표현식, 대체할 문자열, 대상, 이렇게 쓰는방법이 일반

'가나다 ...'

In [23]:
re.sub('[a-z]', '.', '한글alphabet')       # 정규표현식, 대체할 문자열, 대상

'한글........'

In [24]:
# 문자열 메소드인 replace는 정규표현식을 지원하지 않음
'한글alphabet'.replace('[a-z]', '.')

'한글alphabet'

In [26]:
#한글 정규표현식 
re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.', '한글alphabet')

'..alphabet'

In [27]:
# Pandas str.replace() 메소드는 정규표현식을 지원함!!

s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.')

<ipython-input-27-2043a522091c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.')

0       ... 123
1         ..!!!
2    ..alphabet
dtype: object

In [29]:
# 한글과 공백을 제외한 글자는 삭제  ^ 요놈 뭐야?  ^앵거.. 말하자면 첫시작을 지정또는 끝을 지정???
# 높!!!!!   ^는 not(부정)을 의미함
s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣\s]', '')   # 결국 이 코드를 돌리면 한글만 남아...
                                            # \s    white space 을 의미

<ipython-input-29-5cc956c6d27c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣\s]', '')   # 결국 이 코드를 돌리면 한글만 남아...

0    가나다
1      ㅠㅠ
2      한글
dtype: object

 -str.메소드로 천단위 구분기호를 숫자로 바꾸기

In [30]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', 
                    skiprows=1, encoding='euc-kr')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [31]:
# 코드 의미 못봤다. 
# 문자열  리플레이스는 안먹어. 문자열 메소드인 replace ..?
# 데이터 프레임에서는 먹는다? 

for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [ ]:
# for column in cctv.columns[1:]:
#     cctv[column] = cctv[column].apply(lambda x: int(x.replace(',','')))
# cctv.head()

# 위버전이 좀더 쉬울것. str.replace 로 이용

In [35]:
cctv.index[:5]
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289

- 인덱스 조작!! 접때 잘 못햇어 .. 인덱스 조작도 자귀파괴적인 메서드 멍청멍청, 옵션 inplace=True 해줘야 변경

In [37]:
cctv.set_index('구분', inplace=True).head()    # 구분을 인덱스로?

AttributeError: 'NoneType' object has no attribute 'head'

In [38]:
cctv

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76
광진구,2588,35,57,100,187,98,52,675,465,712,175,32
동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
성북구,3958,83,78,170,230,323,594,460,867,714,251,188
강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
노원구,2415,0,97,193,77,516,331,175,216,320,386,104
은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
마포구,2421,58,93,77,61,162,454,359,343,494,300,20
양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
강서구,2560,55,129,106,213,188,168,506,259,457,356,123
구로구,4075,852,216,349,187,268,326,540,488,434,415,0
금천구,2374,0,0,178,80,361,133,196,540,369,508,9
영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
동작구,2297,41,24,25,503,128,253,271,300,322,419,11
관악구,4942,428,205,291,513,529,621,687,663,640,331,34
서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
강동구,2547,332,27,163,49,154,202,273,377,356,614,0

In [40]:
cctv.reset_index(inplace=True)  #인덱스 복원됨
cctv.head()

,index,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

* set_index를 한 후에 주의사항
* 인덱스를 셋하고 csv로 저장하면 인덱스 풀려
* to_csv할때 인덱스를 nan

In [41]:
cctv.set_index('구분', inplace=True)
cctv.head()

,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,,
계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,3,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,4,3602,448,125,212,105,339,310,874,390,262,461,76

In [43]:
cctv.to_csv('cctv.csv')
cctv2 = pd.read_csv('cctv.csv')
cctv2.head(3)

,구분,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289

In [44]:
cctv2.to_csv('cctv.csv')
cctv3 = pd.read_csv('cctv.csv')
cctv3.head()
# 언네임드란놈.. 원레 인덱스 였던 놈이 컬럼으로 추가되어 버려.
# 인덱스가 풀려있는 데이터를 세이브하면 언네임드 불순물 추가
# index = None 옵션으로 해결

,Unnamed: 0,구분,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289
3,3,용산구,3,2383,34,71,234,125,221,298,351,125,307,617,0
4,4,성동구,4,3602,448,125,212,105,339,310,874,390,262,461,76

In [45]:
cctv2.to_csv('cctv.csv', index=None)
cctv3 = pd.read_csv('cctv.csv')
cctv3.head(3)

,구분,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2,2333,16,114,87,77,236,240,372,386,155,361,289