# DataFrame - 문자열 조작

* 행정표준 관리 시스템 # 법정동 준비 자료  
 실습 데이터 준비(행정표준관리시스템: https://www.code.go.kr/index.do)

In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

(46314, 3)

In [6]:
df.shape
# df.copy = df

In [8]:
df = df[df.폐지여부 == '존재']
df.shape
# (46314, 3) 에서 필터링으로 (20551, 3) 로 쉐입 변화

(20551, 3)

In [10]:
# 인덱싱
df.법정동명.str[:2].head()

0    서울
1    서울
2    서울
3    서울
4    서울
Name: 법정동명, dtype: object

In [11]:
# 찾기
df.법정동명.str.find('동').head()

0    -1
1    -1
2    12
3    12
4    12
Name: 법정동명, dtype: int64

In [12]:
# 요 스트링 안에 '동'글자 있으면 인덱스값 리턴 / 없으면 -1 리턴 하는 메소드 
'서울특별시 종로구'.find('동')

-1

In [13]:
'서울특별시 종로구 청운동'.find('동') 
# 요 스트링 안에 '동'글자 있으면 인덱스값 리턴 / 없으면 -1 리턴 하는 메소드

12

In [14]:
# 스트링 안에 해당 글자 있는지 찾아봐라 find 
# 필요한 문자가 있다는 신호이므로 조건문으로 사용하기 좋아.
df.법정동명.str.split().head()

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [16]:
df.법정동명.str.contains('종로').head()
# 서울특별시 종로 없음 ..0 F.   나머지 종로구에 종로 있어 1 T 반환

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [17]:
# 문자대체  # 공백, 스페이스바를 언더바로
df.법정동명.str.replace(' ','_').head()

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [19]:
s = pd.Series(['가나다 123', 'ㅠㅠ!!!', '한글alphabet'])
s

0       가나다 123
1         ㅠㅠ!!!
2    한글alphabet
dtype: object

In [21]:
# 정규표현식 # 암호라던지 문자열의 패턴을 찾아내주는 (Regular expression)
import re
# re.sub('[0123456789]', '.', '가나다 123')    # 정규표현식, 대체할 문자열, 대상
re.sub('[0-9]', '.', '가나다 123')           # 정규표현식, 대체할 문자열, 대상, 이렇게 쓰는방법이 일반

'가나다 ...'

In [23]:
re.sub('[a-z]', '.', '한글alphabet')       # 정규표현식, 대체할 문자열, 대상

'한글........'

In [24]:
# 문자열 메소드인 replace는 정규표현식을 지원하지 않음
'한글alphabet'.replace('[a-z]', '.')

'한글alphabet'

In [26]:
#한글 정규표현식 
re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.', '한글alphabet')

'..alphabet'

In [27]:
# Pandas str.replace() 메소드는 정규표현식을 지원함!!

s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.')

<ipython-input-27-2043a522091c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.')

0       ... 123
1         ..!!!
2    ..alphabet
dtype: object

In [29]:
# 한글과 공백을 제외한 글자는 삭제  ^ 요놈 뭐야?  ^앵거.. 말하자면 첫시작을 지정또는 끝을 지정???
# 높!!!!!   ^는 not(부정)을 의미함
s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣\s]', '')   # 결국 이 코드를 돌리면 한글만 남아...
                                            # \s    white space 을 의미

<ipython-input-29-5cc956c6d27c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣\s]', '')   # 결국 이 코드를 돌리면 한글만 남아...

0    가나다
1      ㅠㅠ
2      한글
dtype: object

* str.메소드로 천단위 구분기호를 숫자로 바꾸기

In [19]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', 
                    skiprows=1, encoding='euc-kr')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [20]:
# 코드 의미 못봤다. 
# 문자열  리플레이스는 안먹어. 문자열 메소드인 replace ..?
# 데이터 프레임에서는 먹는다? 

for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [ ]:
# for column in cctv.columns[1:]:
#     cctv[column] = cctv[column].apply(lambda x: int(x.replace(',','')))
# cctv.head()

# 위버전이 좀더 쉬울것. str.replace 로 이용

In [21]:
cctv.index[:5]

RangeIndex(start=0, stop=5, step=1)

- 인덱스 조작!!  
 접때 잘 못햇어 .. 인덱스 조작도 자귀파괴적인 메서드 멍청멍청, 옵션 inplace=True 해줘야 변경

In [22]:
cctv.set_index('구분').head()  #인플레이스 아직

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [24]:
cctv.head() # 인덱스 변경 적용 안됐어. inplace = True 줘야

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [25]:
#구분으로 인덱스 변경
cctv.set_index('구분', inplace=True)
cctv.head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [26]:
cctv.reset_index(inplace=True)  #인덱스 복원됨
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

* set_index를 한 후에 주의사항
* 인덱스를 셋하고 csv로 저장하면 인덱스 풀려
* to_csv할때 인덱스를 nan

In [27]:
cctv.set_index('구분', inplace=True)
cctv.head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [28]:
# set index 풀려서 저장된것 확인할 수 있어.
cctv.to_csv('cctv.csv')
cctv2 = pd.read_csv('cctv.csv')
cctv2.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289

In [29]:
cctv2.to_csv('cctv.csv')
cctv3 = pd.read_csv('cctv.csv')
cctv3.head()
# 언네임드란놈.. 원레 인덱스 였던 놈이 컬럼으로 추가되어 버려.
# 인덱스가 풀려있는 데이터를 세이브하면 언네임드 불순물 추가
# index = None 옵션으로 해결

,Unnamed: 0,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [30]:
cctv2.to_csv('cctv.csv', index=None)
cctv3 = pd.read_csv('cctv.csv')
cctv3.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289