# surprise 를 이용한 개인 화 영화 추천 시스템 구축
- 잠재요인 협업 필터링
- SVD (singular Value Decomposition )활용

In [5]:
import pandas as pd
ratings = pd.read_csv('data\ml-latest/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931