#  저스트와치 키값 추출
1. 웨이브 플랫폼의 영화 키값 추출

READ ME
    - URL 1~ 7 부터 각각입력하며 크롬창을 키고, 끄고 하기때문에 URL을 순회하는 반복문은 구성하지 않음.
    - 메모리 문제인지 브라우저 이동으로 크롤링을 하면 sleep 1초 만에 로딩이 안되서. 화면 끝까지 스크롤 안내려가.
    - 제 컴에서 안정적인 sleep time은 2초니까 . 크롤링할때 각자 사양에 맞춰서 참고하세요. 가능하면 1초로 빠르게 하길 권함.

    - import 리스트는 뭐가 필요하고 안필요한지 정확히 몰라서. 일단 수정 안했어요.
    - df 1 - df 7까지 수집후 합치는 형태라서 이것은 반복문 구성 필요.

    - df1 ex 2000까지 영화.   data_list1 에 만들어두고.
    - df2 ex 14-16년 까지 영화.  data_list2 에 만들어 두기만 하면. 추후에 판다스DF로 한번에 합칠 수 있어. 
    - 일단은 보여주고자 따로 구성함.. 코드 수정때 반복문 구성하게요.

In [53]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import time
# from selenium.webdriver.common.keys import Keys

In [2]:
def get_chrome_driver():
    # 1. 크롬 옵션 세팅
    chrome_options = webdriver.ChromeOptions()
    
    # 2. driver 생성하기
    driver = webdriver.Chrome(
        service=Service(ChromeDriverManager().install()), # 가장 많이 바뀐 부분
        options=chrome_options
    )
    
    return driver

In [30]:
driver = get_chrome_driver()

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\jlune\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [4]:
# driver.quit()

In [ ]:
url1 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_until=2003"
url2 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_from=2004&release_year_until=2011"
url3 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_from=2012&release_year_until=2014"
url4 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_from=2015&release_year_until=2016"
url5 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_from=2017&release_year_until=2018"
url6 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_from=2019&release_year_until=2020"
url7 = "https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/wavve?content_type=movie&release_year_from=2021&release_year_until=2022"

In [54]:
driver.get(url1)

In [25]:
SCROLL_PAUSE_SEC = 1

# 스크롤 높이 가져옴
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # 끝까지 스크롤 다운
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # 1초 대기
    time.sleep(SCROLL_PAUSE_SEC)

    # 스크롤 다운 후 스크롤 높이 다시 가져옴
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [10]:
# xpath 로 접근
# //*[@id="base"]/div[3]/div/div[2]/div[1]/div/div[1]/a/div/picture/img
#                                                  ^전체선택위에 요기 삭제 a태그 앞
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')

len(movies)
# 위에는 key 값 뽑아오기 url+ key값

1957

In [16]:
import pandas as pd

In [17]:
data_list1=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list1.append(name)
len(data_list1)

1957

## URL2

In [ ]:
driver.quit()

In [ ]:
driver = get_chrome_driver()
driver.maximize_window()
driver.get(url2)

In [31]:
SCROLL_PAUSE_SEC = 1

# 스크롤 높이 가져옴
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # 끝까지 스크롤 다운
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # 1초 대기
    time.sleep(SCROLL_PAUSE_SEC)

    # 스크롤 다운 후 스크롤 높이 다시 가져옴
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height
    # 일단요기까지

In [33]:
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')
len(movies)

1858

In [34]:
data_list2=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list2.append(name)
len(data_list2)

1858

In [36]:
df2 = pd.DataFrame({
    'url2':data_list2,
})
df2

                         url2
0     the-time-travelers-wife
1                  peuropojeu
2                the-prestige
3                    the-debt
4                   inception
...                       ...
1853               lady-daddy
1854    the-story-of-mr-sorry
1855             farmers-song
1856             little-gobie
1857    the-strength-of-water

[1858 rows x 1 columns]

In [18]:
df = pd.DataFrame({
    'url1':data_list1
})
df

                                         url1
0           banjiyi-jewang-banji-weonjeongdae
1                               namsaegdaemun
2                    meolholraendeu-deuraibeu
3     harry-potter-and-the-philosophers-stone
4                            peolpeu-pigsyeon
...                                       ...
1952                              pungudongro
1953       seongtankwaerag-meri-keuriseumaseu
1954                              mad-minutes
1955                                caempieon
1956                              ugyeonarang

[1957 rows x 1 columns]

In [39]:
driver = get_chrome_driver()
driver.maximize_window()
driver.get(url3)

In [40]:
# URl3

SCROLL_PAUSE_SEC = 1

# 스크롤 높이 가져옴
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # 끝까지 스크롤 다운
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # 1초 대기
    time.sleep(SCROLL_PAUSE_SEC)

    # 스크롤 다운 후 스크롤 높이 다시 가져옴
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height
    # 일단요기까지

In [41]:
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')
len(movies)

1478

In [43]:
data_list3=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list3.append(name)

df3 = pd.DataFrame({
    'url3':data_list3
})
df3

                            url3
0                      john-wick
1       the-grand-budapest-hotel
2                    begin-again
3          the-dark-knight-rises
4                       whiplash
...                          ...
1473                 grape-candy
1474       my-pretend-girlfriend
1475           journal-de-france
1476  deo-paiteo-paineol-raundeu
1477           the-game-of-truth

[1478 rows x 1 columns]

## URL4

In [104]:
driver = get_chrome_driver()
driver.maximize_window()
driver.get(url4)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\jlune\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [56]:
# driver.find_element_by_tag_name('body').send_keys(Keys.PAGE_DOWN)

<ipython-input-56-edfa68bfa020>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_tag_name('body').send_keys(Keys.PAGE_DOWN)

In [57]:
# SCROLL_PAUSE_SEC = 1
# for c in range(0,5):
#     driver.find_element_by_tag_name('body').send_keys(Keys.PAGE_DOWN)
#     time.sleep(SCROLL_PAUSE_SEC)

<ipython-input-57-bc9bbe2fd8fb>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_tag_name('body').send_keys(Keys.PAGE_DOWN)

In [105]:
# URl4

SCROLL_PAUSE_SEC = 1

# 스크롤 높이 가져옴
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # 끝까지 스크롤 다운
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # 1초 대기
    time.sleep(SCROLL_PAUSE_SEC)

    # 스크롤 다운 후 스크롤 높이 다시 가져옴
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        time.sleep(5) # 로딩이 늦어져서. 목록의 끝이 아닌데. 스크롤 높이가 동일해지는 것 방지. 로딩시간 부여. 스크롤타임 안늘려도 되서 좋아.
        break
    last_height = new_height
    # 일단요기까지

In [106]:
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')
len(movies)

1470

In [107]:
data_list4=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list4.append(name)

df4 = pd.DataFrame({
    'url4':data_list4
})
df4

                                                   url4
0                                               13sigan
1                                        miseu-seulroun
2               fantastic-beasts-and-where-to-find-them
3                           maedeu-maegseu-bunnoyi-doro
4                                           keontaegteu
...                                                 ...
1465                            the-boys-who-cried-wolf
1466                              the-city-in-the-water
1467  geugjangpan-gamyeonraideo-deuraibeu-seopeuraij...
1468                                     saekeuripaiseu
1469                                   round-trip-heart

[1470 rows x 1 columns]

In [76]:
driver.quit()

## URL5

In [77]:
driver = get_chrome_driver()
driver.maximize_window()
driver.get(url5)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\jlune\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [78]:
# URl5
SCROLL_PAUSE_SEC = 1
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(SCROLL_PAUSE_SEC)
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        time.sleep(5) # 로딩이 늦어져서. 목록의 끝이 아닌데. 스크롤 높이가 동일해지는 것 방지. 로딩시간 부여. 스크롤타임 안늘려도 되서 좋아.
        break
    last_height = new_height

In [79]:
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')
len(movies)

1936

In [81]:
data_list5=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list5.append(name)

df5 = pd.DataFrame({
    'url5':data_list5
})
df5

                                 url5
0        murder-on-the-orient-express
1     the-witch-part-1-the-subversion
2                 redi-peulreieo-weon
3                               asako
4                               benom
...                               ...
1931           sonyeo-haneuleul-nalda
1932             ten-sikeuris-misyeon
1933          green-days-by-the-river
1934    redeu-seupeuring-apokalribseu
1935                    weorieo-rodeu

[1936 rows x 1 columns]

## URL6

In [82]:
driver.quit()

In [83]:
driver = get_chrome_driver()
driver.maximize_window()
driver.get(url6)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\jlune\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [85]:
# URl6
SCROLL_PAUSE_SEC = 1
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(SCROLL_PAUSE_SEC)
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        time.sleep(5) # 로딩이 늦어져서. 목록의 끝이 아닌데. 스크롤 높이가 동일해지는 것 방지. 로딩시간 부여. 스크롤타임 안늘려도 되서 좋아.
        break
    last_height = new_height

In [86]:
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')
len(movies)

1662

In [88]:
data_list6=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list6.append(name)

df6 = pd.DataFrame({
    'url6':data_list6
})
df6

                             url6
0                     bugseumateu
1                           jokeo
2                            1917
3                   peoseuteu-kau
4                            megi
...                           ...
1657        gaengseuteo-obeu-siti
1658    apeun-mankeum-saranghanda
1659  cilgeom-2-baegbalmanyeojeon
1660                      jerojon
1661                        geran

[1662 rows x 1 columns]

## URL7

In [89]:
driver.quit()

In [90]:
driver = get_chrome_driver()
driver.maximize_window()
driver.get(url7)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\jlune\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [91]:
# URl7
SCROLL_PAUSE_SEC = 1
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(SCROLL_PAUSE_SEC)
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        time.sleep(5) # 로딩이 늦어져서. 목록의 끝이 아닌데. 스크롤 높이가 동일해지는 것 방지. 로딩시간 부여. 스크롤타임 안늘려도 되서 좋아.
        break
    last_height = new_height

In [92]:
movies = driver.find_elements(
    By.XPATH,
    '//*[@id="base"]/div[3]/div/div[2]/div[1]/div/div/a')
len(movies)

460

In [94]:
data_list7=[]

for i in range(0,len(movies)):
    name = movies[i].get_attribute("href").split('/')[-1]
    data_list7.append(name)

df7 = pd.DataFrame({
    'url7':data_list7
})
df7

                                                  url7
0                                  peurenci-diseupaeci
1                                          ssing2gedeo
2                                                 dyun
3                           benom-2-res-deeo-bi-kaniji
4                                  deo-raseuteu-dyueol
..                                                 ...
455                                           ganiyeog
456                                 paineol-peulraetun
457                 beolgeobeoseun-ceonsa-bulgeun-bang
458                                    sajinsayi-yeoja
459  sin-teniseuyi-wangja-hyotei-vs-riskai-geim-obe...

[460 rows x 1 columns]

In [ ]:
driver.quit()

각각 데이터의 수가 달라 한번에 DF으로 쓸수없어 
리스트 - 시리즈 - DF 순서로 만듬.

In [108]:
w1 = pd.Series(data_list1)
w2 = pd.Series(data_list2)
w3 = pd.Series(data_list3)
w4 = pd.Series(data_list4)
w5 = pd.Series(data_list5)
w6 = pd.Series(data_list6)
w7 = pd.Series(data_list7)

print(len(w1), len(w2), len(w3), len(w4), len(w5), len(w6), len(w7))

1957 1858 1478 1470 1936 1662 460

In [109]:
key_wavve = pd.DataFrame({
    '~03': w1,
    '04~11' : w2,
    '12~14' : w3,
    '15~16' : w4,
    '17~18' : w5,
    '19~20' : w6,
    '21~22' : w7    
})
key_wavve

,~03,04~11,12~14,15~16,17~18,19~20,21~22
0,banjiyi-jewang-banji-weonjeongdae,the-time-travelers-wife,john-wick,13sigan,murder-on-the-orient-express,bugseumateu,peurenci-diseupaeci
1,namsaegdaemun,peuropojeu,the-grand-budapest-hotel,miseu-seulroun,the-witch-part-1-the-subversion,jokeo,ssing2gedeo
2,meolholraendeu-deuraibeu,the-prestige,begin-again,fantastic-beasts-and-where-to-find-them,redi-peulreieo-weon,1917,dyun
3,harry-potter-and-the-philosophers-stone,the-debt,the-dark-knight-rises,maedeu-maegseu-bunnoyi-doro,asako,peoseuteu-kau,benom-2-res-deeo-bi-kaniji
4,peolpeu-pigsyeon,inception,whiplash,keontaegteu,benom,megi,deo-raseuteu-dyueol
...,...,...,...,...,...,...,...
1952,pungudongro,NaN,NaN,NaN,NaN,NaN,NaN
1953,seongtankwaerag-meri-keuriseumaseu,NaN,NaN,NaN,NaN,NaN,NaN
1954,mad-minutes,NaN,NaN,NaN,NaN,NaN,NaN
1955,caempieon,NaN,NaN,NaN,NaN,NaN,NaN
1956,ugyeonarang,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
key_wavve.to_csv("key_wavve.csv", header=True)

In [111]:
dataset = pd.read_csv("key_wavve.csv", index_col=0) # 이렇게 불러오면 0번컬럼의 인덱스를 사용가능.

print(dataset)

                                          ~03                    04~11  \
0           banjiyi-jewang-banji-weonjeongdae  the-time-travelers-wife
1                               namsaegdaemun               peuropojeu
2                    meolholraendeu-deuraibeu             the-prestige
3     harry-potter-and-the-philosophers-stone                 the-debt
4                            peolpeu-pigsyeon                inception
...                                       ...                      ...
1952                              pungudongro                      NaN
1953       seongtankwaerag-meri-keuriseumaseu                      NaN
1954                              mad-minutes                      NaN
1955                                caempieon                      NaN
1956                              ugyeonarang                      NaN

                         12~14                                    15~16  \
0                    john-wick                                  13sigan
1     the-grand-budapest-hotel                           miseu-seulroun
2                  begin-again  fantastic-beasts-and-where-to-find-them
3        the-dark-knight-rises              maedeu-maegseu-bunnoyi-doro
4                     whiplash                              keontaegteu
...                        ...                                      ...
1952                       NaN                                      NaN
1953                       NaN                                      NaN
1954                       NaN                                      NaN
1955                       NaN                                      NaN
1956                       NaN                                      NaN

                                17~18          19~20  \
0        murder-on-the-orient-express    bugseumateu
1     the-witch-part-1-the-subversion          jokeo
2                 redi-peulreieo-weon           1917
3                               asako  peoseuteu-kau
4                               benom           megi
...                               ...            ...
1952                              NaN            NaN
1953                              NaN            NaN
1954                              NaN            NaN
1955                              NaN            NaN
1956                              NaN            NaN

                           21~22
0            peurenci-diseupaeci
1                    ssing2gedeo
2                           dyun
3     benom-2-res-deeo-bi-kaniji
4            deo-raseuteu-dyueol
...                          ...
1952                         NaN
1953                         NaN
1954                         NaN
1955                         NaN
1956                         NaN

[1957 rows x 7 columns]