# 리스트

- append

In [1]:
sq_list = []
for i in range(10):
    sq_list.append(i*i)
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- list comprehension (리스트 표현식)

In [2]:
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [5]:
sq_list = [ i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# 1에서 10까지 홀수의 제곱 리스트, 단 range(1, 11, 2) 를 사용하지 말 것 
odd_sq = [i*i for i in range(11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

- 특정값의 인덱스 찾기

In [7]:
odd_sq = [1, 9 , 25, 49, 81]

In [9]:
for index, num in enumerate(odd_sq):
    print(f'{index} - {num}')
print

0 - 1
1 - 9
2 - 25
3 - 49
4 - 81

In [10]:
# 수업 예제 아니야.
a = [38, 21, 53, 62, 19]
for idx, value in enumerate(a, start=1):
    print(idx, value)

1 38
2 21
3 53
4 62
5 19

- 리스트의 할당과 복사

In [11]:
# 넘어가

2D 어레이 카피안되 그러니까 [[]] 리스트 안에 리스트.
딥 카피 사용해야 해

In [14]:
b= a.copy() 
a

[38, 21, 53, 62, 19]

In [15]:
b

[38, 21, 53, 62, 19]

In [16]:
a is b # 다르다.

False

- 반복문으로 리스트 사용하는법

- wHile 반복문 
몇번 반복해야 하는지 모를때
- 데이터 통신 등 이외에는 안쓰여 . 
- while 조건식으로도 안쓰여 .
while true :
    if 조건 : 
    조건되면 break 탈출하라.   결국 무한루프로 돌리는 방법으로 써.

## 집계부분 min, max, sum
 - 이런애들은 변수로 받지마 ?
- # 그러니 l1_sum, a1_sum 등으로 앞뒤 이름을 주고 쓰는게 좋아

In [17]:
# 섬을 변수로 써버리면. 아래처럼 sum 함수를 사용불가.
sum = 0 
for i in range(1, 10):
    sum += i
print(sum)

45

In [ ]:
# sum(odd_sq)

- 리스트 컴프리헨션

In [ ]:
# 식 for 변수 in 리스트
# list(i for in range(10))

- 리스트 컴프리헨션에서 if 조건문 사용하기

In [21]:
# - 리스트 표현식
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [24]:
[i*k for i in range(2,4)  for k in range(1,10)]
# 구구단 2단 나오고 3단 나와.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27]

- map 은 함수를 리스트에  (반대로 생각해도 되고)
- df .Series 에 함수 적용. apply

In [28]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4, 7]

In [43]:
import math
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = round(a[i], 1)
a

[1.2, 2.5, 3.7, 4.6, 7.3]

In [ ]:
# floor, ceil(올림),

In [38]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [45]:
# round 없었을때 반올림
import math
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = int(a[i] + 0.5)
a

[1, 3, 4, 5, 7]

map 객체
- 리스트로 봀 수 있어.

In [50]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
list(map(int, a))
# a라는 리스트에 int 함수 적용

[1, 2, 3, 4, 7]

- 언패킹에서 맵사용

In [51]:
for element in map(int, a):
    print(element)

1
2
3
4
7

In [54]:
# 두개의 정수 입력 예 3, 4
x, y = map(int, input().split())
x, y

(3, 4)